$color-accent: #EFF2E2;
$color-main: #D6D8C9;
$color-main-bright: #EFF2E2;
$color-background: #282E33;

body,
body * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: top;
}

body {
  background-color: $color-background;
}

.app__wrapper {
  display: block;
  width: 1280px;
  height: 600px;
  margin-top: 60px;
  margin-left: calc((100% / 2) - 640px);
  background: $color-main;
}

.content__wrapper {
  display: inline-block;
  float: left;
  width: 900px;
  height: 600px;

  .search {
    height: 80px;
    padding: 20px;

    form {
      input {
        width: 100%;
        height: 40px;
        padding: 0 20px;
        border: 0px;
        border-bottom: 1px solid black;

        font-size: 14px;
        background-color: rgba(0,0,0,0.1)
      }

      input:hover {
        background-color: $color-accent;
      }

    }
  }

  .gallery {
    display: grid;
    height: 500px;
    padding: 0px 20px 0px 20px;
    margin: 0px 20px;
    background-color: $color-main-bright;

    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(140px, auto));
    grid-auto-flow: dense;
    grid-auto-rows: 180px;

    overflow: scroll;

    .img__horizontal {
      grid-column: span 2;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    .img__vertical {

      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}

.sidebar__wrapper {
  display: inline-block;
  float: right;
  width: 380px;
  height: 600px;

  .buttons {
    height: 80px;
    padding: 20px;

    .buttons__btn {
      display: inline-block;
      width: calc(50% - 20px);
      height: 40px;
      border-bottom: 1px solid black;
      background-color: rgba(0,0,0,0.1);
      line-height: 40px;
      text-align: center;
    }
    .buttons__btn:hover {
      background-color: $color-accent;
    }
    .buttons__btn:last-child {
      float: right;
    }
  }

  .queries {
    display: block;
    height: 500px;
    padding: 0px 20px 0px 20px;
    margin: 0px 20px;
    background-color: $color-main-bright;
    overflow: scroll;

    ol {
      li {
        padding: 5px;
        margin: 0px 20px;
      }
    }
  }
}